.info{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 2rem 1rem 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 325px;
  height: 230px;
  margin: 8rem 1rem 1rem 2rem;
  background-color: #fff;
  position: relative;
}
.charts{
    position: absolute;
    right: 20px;
    top: -90px;
}
.detail{
    border-bottom: 1px solid rgb(223, 215, 215);
}
.header{
    color: rgb(51, 51, 51);
    font-size: 1.5rem;
}

.dis{
    font-size: 1.3rem;
    font-weight: 700;
    margin-right:0.5rem;
}
.time{
    color: grey;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}
.txt,.time p{
    font-size: 1.4rem;
}
.text, .time{
    display: flex;
    flex-direction: row;
    color: grey;
    margin-bottom: 1.3rem;
    font-size: 1rem;
}
.time span{
    margin-right: 0.5rem;
    font-size: 1.6rem;
}

@media screen and (max-width:1024px){
    .info{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        background-color: #fff;
    }
}