.hichart{
    width: 300px;
    height: 340px;
    position: relative;
}
.mobileApp{
    left: 0.9rem;
    top: 13px;
}
.saleChart{
    left: 0.8rem;
    top: 8px;
}
.mobileChart{
    
    left: 0.4rem;

    top: 8px;
}