.orders{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size:1.5rem;
}
.title{
    font-size: 1.3rem;
    padding-bottom: 1rem;
}
.date{
    font-size:1.2rem;
}
.orders span{
    color: #fff;
    margin-right: 2rem;
}
.orderView{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
}
.orderDate{
    margin-bottom: 1rem;
    color: grey;
}